<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .whiteBG {
            background: white;
        }
        .main {
            border-radius: 10px;
            height: 100vh;
            margin-bottom: -85px;
            overflow: auto;
            text-align: center;
        }
        a {
            color: gray;
        }
        .a1 {
            height: 30px;
            width: 75px;
            text-align: center;
            line-height: 27px;
            float: right;
            border-radius: 8px;
            background: yellow;
            color: black;
            text-decoration: none;
            font-weight: 500;
            border: 2px solid black;
            margin-right: 30px;
            margin-top: 10px;
        }
        .article {
        }
        h3 {
            margin: auto;
        }
        .img123 {
            width: 95%;
            margin-top: 4%;
            margin-bottom: 1%;
        }
        .leftT {
            margin-left: 2.5%;
            text-align: left !important;
        }

        .a3 {
            float: left;
            margin-top: 4px;
        }
        .divider {
            width: 95%;
            border-bottom: 2px solid black;
            margin: auto;
            margin-top: 40px;
        }
    </style>
</head>
<body>

     <div class="container whiteBG main">
         <div class="article">
            <img class="img123" src="https://i.ytimg.com/vi/Om28CUu1m3I/maxresdefault.jpg">
            <h3 class="leftT">Watch Chris Harris in the electric VW ID.R waste a McLaren 720S</h3>
            <p class="leftT">The Volkswagen ID.R doesn't have much in common with a McLaren 720S, other than the fact that they are both performance-crazed cars. One gets its power from batteries, the other from gas.</p>
            <a class="a3 leftT" href="https://www.autoblog.com/2020/02/24/chris-harris-top-gear-vw-idr-vs-mclaren-720s/" target="_blank">Read More...</a>
        </div> 
        <div class="divider"></div>
           <div class="article">
            <img class="img123" src="https://i.insider.com/5e57d8a3fee23d472b05bfa9?width=2500&format=jpeg&auto=webp">
            <h3 class="leftT"> </h3>
            <p class="leftT"> Speculation abounds around Tom Brady's future as NFL free agency approaches</p>
            <a class="a3 leftT" href="https://edition.cnn.com/2020/02/28/sport/tom-brady-nfl-future-spt-intl/index.html" target="_blank">Read More...</a>
        </div>
        <div class="divider"></div>
           <div class="article">
            <img class="img123" src="https://static01.nyt.com/images/2020/02/27/world/27ambriefing-us-Milwaukee/27ambriefing-us-Milwaukee-superJumbo.jpg?quality=90&auto=webp">
            <h3 class="leftT">Molson Coors Shooting in Milwaukee: What We Know</h3>
            <p class="leftT">The gunman and the five people he killed were all employees of the brewery.</p>
            <a class="a3 leftT" href="https://www.nytimes.com/2020/02/27/us/molson-coors-milwaukee-shooting.html" target="_blank">Read More...</a>
        </div> 
        <div class="divider"></div> 
           <div class="article">
            <img class="img123" src="https://www.history.com/.image/ar_16:9%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cg_faces:center%2Cq_auto:good%2Cw_768/MTY3NDg4OTU3NjQxMTQwMDEz/halloween-gettyimages-172988453.jpg">
            <h3 class="leftT">Halloween: costumes, history, myths, and more</h3>
            <p class="leftT">Get the facts on Halloween's history and why we love it so much today.</p>
            <a class="a3 leftT" href="https://www.autoblog.com/2020/02/24/chris-harris-top-gear-vw-idr-vs-mclaren-720s/" target="_blank">Read More...</a>
        </div> 
        <div class="divider"></div>
           <div class="article">
            <img class="img123" src="https://i0.wp.com/www.nationalreview.com/wp-content/uploads/2020/02/seattle-protest-kshama-sawant-2.jpg?resize=2048%2C1195&ssl=1">
            <h3 class="leftT">Seattle Is Socialism’s Laboratory, and It’s Not Pretty</h3>
            <p class="leftT">Seattle City Councilmember Kshama Sawant speaks in front of the Amazon Spheres during a protest to demand that the city tax the largest corporations to help fund affordable housing in Seattle, April 10, 2018</p>
            <a class="a3 leftT" href="https://www.nationalreview.com/2020/02/seattle-socialism-city-council-faction-pushes-new-taxes-regulations/" target="_blank">Read More...</a>
        </div> 
        <div class="divider"></div>
           <div class="article">
            <img class="img123" src="https://i.ytimg.com/vi/Om28CUu1m3I/maxresdefault.jpg">
            <h3 class="leftT">Watch Chris Harris in the electric VW ID.R waste a McLaren 720S</h3>
            <p class="leftT">The Volkswagen ID.R doesn't have much in common with a McLaren 720S, other than the fact that they are both performance-crazed cars. One gets its power from batteries, the other from gas.</p>
            <a class="a3 leftT" href="https://www.autoblog.com/2020/02/24/chris-harris-top-gear-vw-idr-vs-mclaren-720s/" target="_blank">Read More...</a>
        </div> 
        <div class="divider"></div>
           <div class="article">
            <img class="img123" src="https://i.ytimg.com/vi/Om28CUu1m3I/maxresdefault.jpg">
            <h3 class="leftT">Watch Chris Harris in the electric VW ID.R waste a McLaren 720S</h3>
            <p class="leftT">The Volkswagen ID.R doesn't have much in common with a McLaren 720S, other than the fact that they are both performance-crazed cars. One gets its power from batteries, the other from gas.</p>
            <a class="a3 leftT" href="https://www.autoblog.com/2020/02/24/chris-harris-top-gear-vw-idr-vs-mclaren-720s/" target="_blank">Read More...</a>
        </div> 
        <div class="divider"></div>
           <div class="article">
            <img class="img123" src="https://i.ytimg.com/vi/Om28CUu1m3I/maxresdefault.jpg">
            <h3 class="leftT">Watch Chris Harris in the electric VW ID.R waste a McLaren 720S</h3>
            <p class="leftT">The Volkswagen ID.R doesn't have much in common with a McLaren 720S, other than the fact that they are both performance-crazed cars. One gets its power from batteries, the other from gas.</p>
            <a class="a3 leftT" href="https://www.autoblog.com/2020/02/24/chris-harris-top-gear-vw-idr-vs-mclaren-720s/" target="_blank">Read More...</a>
        </div> 
    </div>
</body>
</html>