@using Dyno.Models
@model UpdatePassword
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .whiteBG {
            background: white;
        }
        .main {
            border-radius: 10px;
            height: 100vh;
            margin-bottom: -85px;
            overflow: auto;
            text-align: center;
        }
        table {
            margin-top: 4%;
        }
        .btn-info {
            width: 25%;
        }
    </style>
</head>
<body>
    <div class="whiteBG main container">
        <table class="table table-striped table-bordered table-sm">
            <tr>
                <th colspan="2"><h2>Settings</h2></th>
            </tr>
            <form asp-action="UpdatePassword" asp-controller="Home" method="post">
                <tr>
                    <td>
                        <h5>Old Password</h5>
                    </td>
                    <td>
                        <span asp-validation-for="OldPassword"></span>
                        <input type="password" name="OldPassword" required="">
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>New Password</h5>
                    </td>
                    <td>
                        <span asp-validation-for="Password"></span>
                        <input type="password" name="Password" required="">
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>Confirm New Password</h5>
                    </td>
                    <td>
                        <span asp-validation-for="Confirm"></span>
                        <input type="password" name="Confirm" required="">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-user-plus"></i> Save</button>
                    </td>
                </tr>
            </form>
            <tr>
                <td colspan="2">
                    <a href="/profile"><i class="fas fa-angle-left"></i><button class="btn btn-secondary btn-block">Cancel</button></a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>